@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, winter;
}

/* body {
    @apply px-8 py-6;
} */

@layer base {
    h1 {
        @apply font-extrabold text-2xl mb-4;
    }
}